src/main/mule/cicd-demo-ramesh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bae7939-462b-4c48-b334-077c5be7b68a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demo-rameshFlow" doc:id="4b3ebf90-76fa-4c05-a475-46fda460988d" >
		<http:listener doc:name="Listener" doc:id="08407e12-584a-4a19-9dc9-6418270452b7" config-ref="HTTP_Listener_config" path="/cicdRamesh"/>
		<ee:transform doc:name="Transform Message" doc:id="177369df-ca8e-4511-adc4-8f918d0b91c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"CICD by Ramesh": "DONE"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b51e6b22-b05a-4665-a2ae-45db63ed75d0" message="#[payload]"/>
	</flow>
</mule>
